.photo-grid {
    max-width: 1184px;
    margin: 0;
    padding-top: 92px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center; 
    grid-gap: 16px;
    padding: 0 48px;
}

@media (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        max-width: 928px;
        grid-gap: 14px;
    }
}



@media (max-width: 768px) {
    .photo-grid {
        grid-template-columns: minmax(352px, 352px) minmax(352px, 352px);
        
        max-width: 720px;
        grid-gap: 16px;
        padding: 0 24px;
    }
}


@media (max-width: 767px) {
    .photo-grid {
        grid-template-columns: minmax(288px, 288px);
        padding: 0 16px;
        grid-gap: 12px;
       
 }

}
 