.places__title {
    padding: 0px;
    margin: 0px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
}

@media (max-width: 1024px) {
    .places__title {
        max-width: 440px;
    }
}