.places__paragraphs {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
}

@media (max-width: 1024px) {
    .places__paragraphs {
        row-gap: 27px;
    }
}


@media (max-width: 320px) {
    .places__paragraphs {
      padding: 0px 16px;
 }
}
