.cover__subtitle {

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;

    position: absolute;
    z-index: 10;

    top: 429px;
    left: 412px;

    max-width: 360px;

    margin: 0;
    padding: 0;
        

}