.places__item {
    display: grid;
    grid-template-columns: minmax(460px, 460px) minmax(456px, 484px);
    gap: 48px 40px;
    max-width: 984px;
}

@media (max-width: 1024px) {
    .places__item {
        gap: 48px 32px;
    }
}